:root {
  --background: #f6f6f6;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  color: #434850;
  flex: 1;
}

.main {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .main {
    padding: 10px;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side, #000 94%, #0000) left/20%
    100%;
  background: linear-gradient(#000 0 0) left/0% 100% no-repeat #434850;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
  100% {
    background-size: 120% 100%;
  }
}
/***********************HEADER***************************************/

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar h1 {
  cursor: pointer;
  font-size: 24px;
}

.home {
  display: none;
}

.search {
  position: relative;
  display: inline-block;
}

.search input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  width: 450px;
  height: 40px;
}

.search .search-icon {
  right: 20px;
  top: 12px;
  position: absolute;
  color: #434850c8;
  cursor: pointer;
  z-index: 99;
}

.search .search-icon:hover {
  color: #30343a;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
  cursor: pointer;
}

.icons .badge {
  position: absolute;
  top: -15px;
  right: -15px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: bold;
}

.cart {
  position: relative;
}

.menu-container {
  position: relative;
}

.menu-toggle {
  display: none;
  font-size: 22px;
}

.menu {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}

.menu-item {
  font-weight: 600;
}

.menu-item:hover {
  color: #edcf5d;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }
  .navbar {
    h1 {
      display: none;
    }

    .home {
      display: block;
    }

    .search {
      width: 200px;

      input {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .icons {
      gap: 10px;
    }
  }

  .menu {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .menu.open {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    gap: 40px;
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #e9e9e9;
  }
}

.search-results-header {
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {
  .search-results-header h1 {
    font-size: 24px;
  }

  .search-results-header p {
    font-size: 14px;
    margin-top: 8px;
  }
}
/**********************CAROUSEL***************************************/
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carouselInner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carouselItem {
  min-width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.dots-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}

.prev-btn,
.next-btn {
  background: transparent;
  color: #cecece;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 28px;
  transition: background-color 0.3s ease;
  position: absolute;
}

.prev-btn {
  left: 0;
  bottom: 300px;
}

.next-btn {
  right: 0;
  bottom: 300px;
}

.prev-btn:hover,
.next-btn:hover {
  transform: scale(1.5);
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4f4e4e80;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #222529;
}

.dot:hover {
  background-color: #434850;
}

@media (max-width: 768px) {
  .carouselItem {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    object-fit: fill;
  }
  .dots-container {
    margin-top: 20px;
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

/*******************CATEGORY and PRODUCTS*********************************/

.categories-container,
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.product-container {
  margin-top: 30px;
  border-radius: 8px;
  background-color: #fff;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.categories-container {
  background-color: #d2d4d862;
  border-radius: 8px;
  margin-top: 30px;
}

.category-content,
.product-content {
  padding: 50px 0;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.no-products {
  font-size: large;
  font-weight: 600;
  color: #b0b0b0;
}

.individual-category,
.product-item {
  width: 200px;
  height: 200px;
  background-color: #b0b0b0;
  border-radius: 8px;
}

.product-item {
  margin-bottom: 10px;
}

.individual-category img,
.product-item img {
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.individual-category img:hover,
.product-item img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.category-name,
.product-name {
  text-align: center;
  padding: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .categories-container,
  .product-container {
    padding: 20px 10px;
  }

  .category-content,
  .product-content {
    padding: 30px 0;
    gap: 20px;
  }

  .individual-category,
  .product-item {
    width: 150px;
    height: 150px;
    background-color: #b0b0b0;
    border-radius: 8px;
  }

  .product-item {
    margin-bottom: 30px;
  }

  .individual-category img,
  .product-item img {
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .individual-category img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }

  .category-name,
  .product-name {
    text-align: center;
    padding: 6px;
  }

  .product-name {
    font-size: 14px;
  }
}

.pagination {
  margin: 20px 150px 0 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.pagination button.active {
  border-radius: 5px;
  background-color: #f58606;
  color: white;
}

/************************FOOTER***************************************/
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 40px;
  background: #222529;
  color: white;
  gap: 20px;
}

.footer-section {
  flex: 1 1 30%;
  min-width: 250px;
  padding: 15px;
}

.footer-section h3 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.footer-section p {
  color: #b0b0b0;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-section span {
  display: block;
  margin-bottom: 10px;
}

.footer-section h5 {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-section ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #b0b0b0;
  transition: color 0.3s ease;
}

.footer-section ul li:hover {
  color: #00aaff;
}

.footer-section ul li svg {
  margin-right: 10px;
  font-size: 16px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-section ul li:hover svg {
  transform: scale(1.1);
  color: #00aaff;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .footer-section {
    width: 100%;
    text-align: center;
  }

  .footer-section ul {
    align-items: center;
  }

  .footer-section ul li {
    justify-content: center;
  }
}
